@model Cadeteria.ViewModels.ListaPedidosViewModel

@{
    ViewData["Title"] = "ListaPedidos";
}

<h1>ListaPedidos</h1>

<p>
    <a asp-action="AltaPedido">Lista Pedidos</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID Pedido
            </th>
            <th>
                Observacion
            </th>
            <th>
                Estado
            </th>
            <th>
                Nombre Cliente
            </th>
            <th>
                Editar|Borrar
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.listaPedidos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Obs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoPedido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientePedido.Nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "ModificarPedido", new { ID=item.ID, ClienteID = item.ClientePedido.Id }) |
                @Html.ActionLink("Borrar", "BajaPedido", new { ID = item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
