@model IEnumerable<Cadeteria.Entities.Cliente>

@{
    ViewData["Title"] = "ListaClientes";
}

<h1>ListaClientes</h1>

<p>
    <a asp-action="AltaCliente">Nuevo Cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.ActionLink("Editar", "ModificarCliente", new { Id = item.Id}) |
                @Html.ActionLink("Borrar", "BajaCliente", new { Id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
