@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<WebCadeteria.Entities.Cadete>

<div class="text-center">
    <h1 class="display-4">Lista de Cadetes</h1>
    <table class="table table-striped">
        <tr>
            <th scope="col">Nº de Cadete</th>
            <th scope="col">Nombre</th>
            <th scope="col">Direccion</th>
            <th scope="col">Telefono</th>
            <th scope="col">Cantidad de Pedidos</th>
            <th scope="col">Pago</th>
            <th scope="col">Borrar Cadete</th>
            <th scope="col">Modificar Cadete</th>
        </tr>

        @foreach (var cadete in Model)
        {
            <tr>
                <td>@cadete.Id</td>
                <td>@cadete.Nombre</td>
                <td>@cadete.Direccion</td>
                <td>@cadete.Telefono</td>
                <td></td>
                <td></td>

                <td>
                    <form asp-action="BajaCadete" asp-controller="Cadete" method="post">
                        <button type="submit" class="btn btn-primary" value="@cadete.Id" name="_IdCadete">Borrar</button>
                    </form>
                </td>

                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modificar">modificar</button>
                    <!-- modal -->
                    <div class="modal fade" id="modificar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h1 class="display-9">Modificar Cadete: </h1>
                                    <form asp-action="ModificarCadete" asp-controller="Cadete" method="post">
                                        <input type="hidden" value="@cadete.Id" id="_IdCadete" name="_IdCadete">
                                        <div class="mb-3">
                                            <label for="name" class="form-label">Nombre</label>
                                            <input type="text" class="form-control" id="_Nombre" name="_Nombre" placeholder="@cadete.Nombre" value="@cadete.Nombre">
                                        </div>
                                        <div class="mb-3">
                                            <label for="address" class="form-label">Direccion</label>
                                            <input type="text" class="form-control" id="_Direccion" name="_Direccion" placeholder="@cadete.Direccion" value="@cadete.Direccion">
                                        </div>
                                        <div class="mb-3">
                                            <label for="phoneNumber" class="form-label">Telefono</label>
                                            <input type="text" class="form-control" id="_Telefono" name="_Telefono" placeholder="@cadete.Telefono" value="@cadete.Telefono">
                                        </div>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-primary">Modificar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </td>
            </tr>
        }
    </table>
</div>