@{
    ViewData["Title"] = "Modificar Cadetes";
}

@model WebCadeteria.Entities.Cadete
<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-9">Modificar Cadete: @Model.Nombre</h1>
                <form method="post">
                    <div class="mb-3">
                        <input type="hidden" value="@Model.Id" id="_IdCadete" name="_IdCadete">
                        <label for="name" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="_Nombre" name="_Nombre" placeholder="@Model.Nombre" value="@Model.Nombre">
                    </div>
                    <div class="mb-3">
                        <label for="address" class="form-label">Direccion</label>
                        <input type="text" class="form-control" id="_Direccion" name="_Direccion" placeholder="@Model.Direccion" value="@Model.Direccion">
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Telefono</label>
                        <input type="text" class="form-control" id="_Telefono" name="_Telefono" placeholder="@Model.Telefono" value="@Model.Telefono">
                    </div>
                    <button type="submit" class="btn btn-primary" asp-action="ModificarCadete">Modificar</button>
                </form>
            </div>
            <div class="col">
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</div>