@model Cadeteria.ViewModels.ListaCadetesViewModel

@{
    ViewData["Title"] = "Lista de Cadetes";
}

<h1>Lista De Cadetes</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                ID Cadete
            </th>
            <th>
                Nombre del Cadete
            </th>
            <th>
                Direccion
            </th>
            <th>
                Telefono
            </th>
            <th>
                Cantidad De Pedidos
            </th>
            <th>
                Editar|Borrar
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cadete in Model.listaCadetes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => cadete.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => cadete.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => cadete.Direccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => cadete.Telefono)
                </td>
                <td>
                    
                </td>
                <td>
                    @Html.ActionLink("Editar", "ModificarCadete", new { Id = cadete.Id }) |
                    @Html.ActionLink("Borrar", "BajaCadete", new { Id = cadete.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
