@{
    ViewData["Title"] = "ListaPedidos";
}

@model WebCadeteria.Entities.Cadeteria

<div>
    <div class="text-center">
        <h1 class="display-4">Lista de Pedidos</h1>
        <form method="post">
            <table class="table table-striped">
                <tr>
                    <th scope="col">Nº de Pedido</th>
                    <th scope="col">Nombre del Cliente</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Observacion</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Cadete Asignado</th>
                    <th scope="col">Reasignar?</th>
                </tr>

                @foreach (var pedido in Model.ListaPedidos)
                {
                    <tr>
                        <td hidden></td>
                        <td>@pedido.Nro</td>
                        <td>@pedido.Cliente.Nombre</td>
                        <td>@pedido.Cliente.Direccion</td>
                        <td>@pedido.Obs</td>
                        <td>@pedido.Estado</td>
                        <td>
                            

                        </td>

                        <td>
                            <select>
                                <option value="-1">No Asignar</option>
                                @foreach (var cadete in Model.ListaCadetes)
                                { 
                                    <option value="@cadete.Id">@cadete.Nombre</option>
                                }
                            </select>
                        </td>
                        <td><button type="submit" class="btn btn-primary" asp-action="AsignarCadete" name="_IdPedido" value="@pedido.Nro">Reasignar</button></td>

                    </tr>
                }
            </table>
        </form>
    </div>
</div>