@{
    ViewData["Title"] = "ListaPedidos";
}

@model WebCadeteria.Entities.Cadeteria

<div>
    <div class="text-center">
        <h1 class="display-4">Lista de Pedidos</h1>

        <table class="table table-striped">
            <tr>
                <th scope="col">Nº de Pedido</th>
                <th scope="col">Nombre del Cliente</th>
                <th scope="col">Direccion</th>
                <th scope="col">Observacion</th>
                <th scope="col">Estado</th>
                <th scope="col">Cadete Asignado</th>
                <th scope="col">Reasignar?</th>
            </tr>

            @foreach (var pedido in Model.ListaPedidos)
            {
                <tr>

                    <td>@pedido.Nro</td>
                    <td>@pedido.Cliente.Nombre</td>
                    <td>@pedido.Cliente.Direccion</td>
                    <td>@pedido.Obs</td>
                    <td>@pedido.Estado</td>
                    <td>
                        @foreach (var cadete in Model.ListaCadetes)
                        {
                            if (cadete.ListaPedidos.Exists(x => x.Nro == pedido.Nro))
                            {
                                @cadete.Nombre
                                break;
                            }
                        }
                    </td>
                    <td>
                        <form asp-action="AsignarCadete" asp-controller="Pedido" method="post">
                            <input type="hidden" value="@pedido.Nro" id="_IdPedido" name="_IdPedido">
                            <select id="_IdCadete" name="_IdCadete">
                                <option value="-1">No Asignar</option>
                                @foreach (var cadete in Model.ListaCadetes)
                                {
                                    <option value="@cadete.Id">@cadete.Nombre</option>
                                }
                            </select>
                            <button type="submit" class="btn btn-primary">Reasignar</button>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>